.WorkHeader {
  @apply py-16 md:py-32 flex flex-col justify-center text-center md:text-left;
  height: 80vh;
}

.WorkTitle {
  @apply text-4xl md:text-6xl font-Solway font-bold mb-10;
}

.WorkDescription {
  @apply text-2xl md:text-3xl mb-10;
}

.Works {
  @apply pt-16;
}

.ScrollButtonContainer {
  @apply flex items-center justify-center;
}

.ScrollButton {
  @apply text-lg rounded-full h-12 w-12 text-black bg-white hover:bg-primary hover:text-white transition-all duration-500;
}
